In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('delhiAllstates.csv')
df

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,01-09-2025,Delhi,Central Delhi,110005,4,5,0
1,01-09-2025,Delhi,East Delhi,110031,9,3,1
2,01-09-2025,Delhi,East Delhi,110053,2,1,0
3,01-09-2025,Delhi,New Delhi,110001,2,0,0
4,01-09-2025,Delhi,North Delhi,110007,10,2,0
...,...,...,...,...,...,...,...
8078,19-06-2025,Delhi,South West Delhi,110037,5,3,0
8079,19-06-2025,Delhi,South West Delhi,110043,17,5,1
8080,19-06-2025,Delhi,South West Delhi,110073,3,0,0
8081,19-06-2025,Delhi,West Delhi,110027,10,2,1
8082,19-06-2025,Delhi,West Delhi,110063,3,1,1

In [7]:
df.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8083 entries, 0 to 8082
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            8083 non-null   object
 1   state           8083 non-null   object
 2   district        8083 non-null   object
 3   pincode         8083 non-null   int64
 4   age_0_5         8083 non-null   int64
 5   age_5_17        8083 non-null   int64
 6   age_18_greater  8083 non-null   int64
dtypes: int64(4), object(3)
memory usage: 442.2+ KB

In [6]:
dfchotu = pd.read_csv('southDelhi.csv')
dfchotu

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,01-09-2025,Delhi,South Delhi,110013,1,1,0
1,01-09-2025,Delhi,South Delhi,110016,1,1,0
2,01-09-2025,Delhi,South Delhi,110047,4,1,0
3,01-09-2025,Delhi,South Delhi,110068,2,0,1
4,01-04-2025,Delhi,South Delhi,110017,151,35,12
...,...,...,...,...,...,...,...
1549,19-06-2025,Delhi,South Delhi,110017,11,3,0
1550,19-06-2025,Delhi,South Delhi,110024,0,1,0
1551,19-06-2025,Delhi,South Delhi,110047,2,3,0
1552,19-06-2025,Delhi,South Delhi,110062,27,20,0
1553,19-06-2025,Delhi,South Delhi,110068,2,2,1